::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #012D6C;
}
 .u-section-1 {
  background-image: none;
  min-height: 2466px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 51px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  width: 722px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.9rem;
  font-weight: 600;
  width: 803px;
  margin: 51px auto 0;
}

.u-section-1 .u-shape-1 {
  height: 302px;
  margin-top: 1259px;
  margin-bottom: 0;
}

.u-section-1 .u-shape-2 {
  height: 302px;
  margin-top: -1079px;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-1 {
  height: 1900px;
  width: 1140px;
  grid-gap: 17px 17px;
  margin: -716px auto 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.7), rgba(41,45,51,0.7));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.7), rgba(41,45,51,0.7));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.7), rgba(41,45,51,0.7));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.7), rgba(41,45,51,0.7));
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.7), rgba(41,45,51,0.7));
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.7), rgba(41,45,51,0.7));
  padding: 20px;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.7), rgba(41,45,51,0.7));
  padding: 20px;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.7), rgba(41,45,51,0.7));
  padding: 20px;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.7), rgba(41,45,51,0.7));
  padding: 20px;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.7), rgba(41,45,51,0.7));
  padding: 20px;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.7), rgba(41,45,51,0.7));
  padding: 20px;
}

.u-section-1 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.7), rgba(41,45,51,0.7));
  padding: 20px;
}

.u-section-1 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.7), rgba(41,45,51,0.7));
  padding: 20px;
}

.u-section-1 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.7), rgba(41,45,51,0.7));
  padding: 20px;
}

.u-section-1 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.7), rgba(41,45,51,0.7));
  padding: 20px;
}

.u-section-1 .u-gallery-item-16 {
  margin-left: 0;
  margin-top: -260px;
  margin-bottom: 60px;
}

.u-section-1 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.7), rgba(41,45,51,0.7));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 2133px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -98px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 714px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -786px;
  }

  .u-section-1 .u-gallery-1 {
    width: 940px;
    height: 1567px;
  }

  .u-section-1 .u-gallery-item-16 {
    margin-top: 50px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 3447px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 1216px;
    width: 720px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 686px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -2100px;
  }

  .u-section-1 .u-gallery-1 {
    width: 720px;
    height: 2881px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 8669px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 80px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
    margin-top: 6230px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 838px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -7198px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    height: 8103px;
    margin-top: -647px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 5668px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 3229px;
    width: 340px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 698px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -4384px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    height: 5102px;
    margin-top: -460px;
  }
}
